{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "rules": {
    "indent": [2, 4],
    "consistent-return": 2,
    "comma-dangle": 0
  },
  "globals": {
    "assert": true,
    "browser": true
  }
}
