body {
    height: 2000px;
}

div {
    position: absolute;
}

iframe {
    position: absolute;
    left: 300px;
    top: 10px;
    width: 200px;
    height: 200px;
}

#red {
    background: red;
    left: 10px;
    top: 10px;
    width: 200px;
    height: 200px;
}

#blue {
    background: blue;
    left: 50px;
    top: 1500px;
    width: 100px;
    height: 50px;
}

#green {
    background: green;
    left: 50px;
    top: 10x;
    width: 100px;
    height: 50px;
}
